<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FORGOT</title>
    <link rel="stylesheet" href="/static/css/forgot.css">
</head>
<body>
    <div class="password-email">
        <form action="resetpassword">
            <label class="email1" for="email">
                EMAIL:
            </label>
            <br>
            <input id="email" type="email" required>
            <br>
            <button class="submit" type="submit">CHECK</button>
        </form>
    </div>
</body>
</html>