<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ITEMS</title>
    <link rel="stylesheet" href="/static/items.css">
</head>

<body>
    <div class="items">

        <form action="createbucket.html">
            <label class="add-item" for="item">
                ADD-ITEM:
            </label>
            <input id="item" type="text">
            <br>
            <button type="submit">ADD</button>
        </form>
        <table class="list">
            <thead>
                <tr>
                    <th class="name">NAMES:</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a class="item-links" href="items.html"> Newyrk</a></td>
                    <td><a href="editbucket.html"> <i class="fa fa-edit"></i></a><a href="editbucket.html"> <i
                                class="fa fa-trash"></i></td>
                </tr>
                <tr>
                    <td><a class="item-links" href="items.html"> Disneyland</a></td>
                    <td><a href="editbucket.html"> <i class="fa fa-edit"></i> <a href="editbucket.html"> <i
                                    class="fa fa-trash"></i></td>
                </tr>
                <tr>
                    <td><a class="item-links" href="items.html"> Denmark</a></td>
                    <td><a href="editbucket.html"> <i class="fa fa-edit"></i> <a href="editbucket.html"> <i
                                    class="fas fa-trash"></i></td>
                </tr>
                <tr>
                    <td><a class="item-links" href="items.html"> Google</a></td>
                    <td><a href="editbucket.html"> <i class="fa fa-edit"></i><a href="editbucket.html"> <i
                                    class="fa fa-trash"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>