<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign In</title>
    <link rel="stylesheet" href="/static/css/resetpassword.css">
</head>
<body>
    <div class="sign-up-form">
        <h1>Reset Password  </h1>
        <form action="signin">
           <input type="password" class="input-box" placeholder="New Password" required>
           <input type="password" class="input-box" placeholder="Confirm New Password" required>

           <button class="submit" type="submit">RESET PASSWORD</button>
        </form>
    </div>
</body>
</html>