<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign In</title>
    <link rel="stylesheet" href="/static/css/signin.css">
</head>
<body>
    <div class="sign-up-form">
        <img src="/static/imgs/logo.png">
        <h1>Sign in</h1>
        <form action="createbucket">
            <input type="email" class="input-box" placeholder="Your Email/ Your Username" required>
            <input type="password" class="input-box" placeholder="Your Password" required>
            <p class="terms"><span><input type="checkbox" required></span> I agree to the terms of services </p>
            <button type="submit" class="signup-btn">Sign In</button>
            <hr>
            <p class="or">OR</p>
            <button type="submit" class="twitter-btn">Sign in with twitter</button>
            <p class="account">Don't have an account ? <a href="signup">Sign up</a></p>
            <a href="forgot">Forgot Password?</a>
        </form>
    </div>
</body>
</html>