body {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../imgs/bucket.jpg');
    background-size: cover;
    /* background-position: center; */
}

.item-links
{
    text-decoration: none;
    color: black;
}

.bucket {
    width: 250px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
    background-color:   rgb(214, 237, 240);
}

#add 
{
    color: black;
}

input
{
    color: Black;
    width: 200px;
    border-radius: 5px;
}

h1 {
    text-align: center;
    color: white;
    font-family: "Roboto", sans-serif;
    padding-top: 20px;
    margin-bottom: 12px
}

.list{
    margin: 0 auto;
}

ul {
    /* background-colo/r: black; */
    color: black;
    padding: 20px 10px;
    margin: 12px 0 0 10px;
    line-height: 30px;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

ul li:nth-child(1)
{
    color: black;
}

i {
    color: black;
    margin-left: 15px;
}