body
{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../imgs/forgot.jpg');
    background-size: cover;
}

#email
{
    border: none;
    background-color: transparent;
    border-bottom: 1px solid black;
}

.password-email{
    width: 350px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
    background-color:   rgb(229, 242, 248);
    /* background-color:  transparent; */
}

.submit
{
    border-radius: 5px;
    margin-top: 5px;
    /* margin-top: 1000px; */
    width: 100px;
    height: 40px;
    cursor: pointer;
}